@charset "UTF-8";
/* CSS Document */

body {
	width: 800px;
}

.header {
	width: 400px;
}

.content {
	width: 800px;
	height:80px;
}

.input {
	color:#666;
	font-size:12px;
	border-radius: 8px;
	-moz-border-radius: 8px; -webkit-border-radius: 8px;
	margin:5px 0px 10px 0px;
	padding:10px;
	border:#999 1px solid;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	box-shadow: 0 0 5px rgba(81, 203, 238, 0);
	-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
	-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
}

.input:focus{
    color:#000;
	outline:none;
	border:#35a5e5 1px solid;
	border-radius: 8px;
}

.ticket-details {
	width: 100%;
	padding: 10px;
	margin-top: -16px;
	margin-bottom: -10px;
	background-color: #FFF;
	color: #000;
}

.ticket-details {
	width: 800px;
}
